---

---

<div>
  <img src="not-found.webp" alt="error 404 not found">

    <div>
      <h1>&iexcl;Oops!, there is nothing here.</h1>
    </div>
</div>

<style>
  html {
    background-color: rgb(30, 76, 137);
  }

  div {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: rgb(255, 126, 70);
  }

  img {
    width: 300px;
    height: 300px;
  }
</style>
