---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";

export async function getStaticPaths() {
    return [
        {
            params: { id: "work" },
            props: { title: "work - 302f" },
        },

        {
            params: { id: "posts" },
            props: { title: "posts - 302f" },
        },
    ];
}

const { title } = Astro.props;
const { id } = Astro.params;
---

<Layout title={title}>
    <h1>
        {id}
    </h1>
</Layout>

<style>
    h1 {
        margin-top: 50px;
    }
</style>
