---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro";
import Personal from "../sections/Personal.astro";


---

<Layout title="302Found - Homepage">

    <Header />

    <main class="container">
      <section>
        <Hero />
        <Personal />
        <Footer />
      </section>
    </main>

</Layout>

<style>
  .container section {
    width: 600px;
  }
</style>