---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Footer from "../sections/Footer.astro";
import About from "../sections/About.astro";
import Prefooter from "../sections/Prefooter.astro";
---

<Layout title="302Found - Homepage">

    <main class="container">
      <section>
        <Hero />
        <About />
        <Prefooter />
        <Footer />
      </section>
    </main>

</Layout>

<style>
  .container section {
    width: 570px;
  }

  @media (max-width: 768px) {
    .container section {
      width: 100%;
      padding: 0 1rem;
    }
  }
</style>
