---
import Patita from '/public/patita.svg'
import GitHub from '/public/github.svg'
import Sun from '/public/sun.svg'
---

<header>
    <nav>
        <a class="marker" href="/" aria-label="Home">
            <Patita class="icon" />
            <span>Juan Alberto</span>
        </a>

        <div class="links">
            <ul class="list">
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Work</a></li>
                <li><a href="/wallpapers">Wallpapers</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="https://github.com/302foundevx/302found-homepage" rel="noopener noreferer"><span class="source"><GitHub />Source</span></a></li>
            </ul>
        </div>

        <div class="theme">
            <button><Sun /></button>
        </div>
    </nav>
</header>

<style>
    nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        font-size: 1.05rem;
        max-width: 769px;
        margin: 0 auto;
        background-color: #202023cc;
        backdrop-filter: blur(5.5px);
    }

    .theme {
        display: flex;
        align-items: center;
    }

    .theme button {
        display: flex;
        border: none;
        padding: .5rem .6rem;
        border-radius: .375rem;
        cursor: pointer;
        color: #202023;
        background-color: rgb(251, 212, 141);
    }

    .marker {
        list-style: none;
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: .2rem;
    }

    .links {
      padding-right: 50px;
    }

    .list {
        display: flex;
        margin: 10px 0;
        padding: 0;
        gap: 1.2rem;
        list-style: none;
    }

    .list li a {
        text-decoration: none;
        color: inherit;
    }

    .list li a:hover {
      text-decoration: underline;
    }

    .icon {
        transition: transform 0.3s ease-in-out;
    }

    .marker:hover .icon {
        transform: rotate(20deg);
    }

    .source {
        display: flex;
        align-items: center;
        gap: .2rem;
    }

    .source svg {
        height: 1rem;
        width: 1rem;
        fill: #fff;
    }
</style>
