---
import Email from "../components/icons/Email.astro";
import Location from "../components/icons/Location.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Twitter from "../components/icons/X.astro";

const socials = [
  {
    name: "Email",
    icon: Email,
    href: "mailto:jarscode.dev@outlook.com",
    className: "email",
  },
  {
    name: "LinkedIn",
    icon: LinkedIn,
    href: "https://linkedin.com/in/302foundev",
    className: "linkedin",
  },
  {
    name: "Twitter",
    icon: Twitter,
    href: "https://twitter.com/302foundev",
    className: "twitter",
  },
];
---

<header class="section">
  <div class="hero">
    <span>Hello, I'm a software developer based in Madrid!</span>
  </div>

  <div class="craft">
    <div>
      <h1>Juan Alberto</h1>
      <p>Digital Craftsman ( Artist / Developer / C-Creator )</p>
    </div>

    <picture>
      <source srcset="/profile.webp" type="image/webp" />
      <img
        src="/profile.jpg"
        loading="eager"
        alt="Juan Alberto's profile picture"
      />
    </picture>
  </div>

  <div class="location">
    <Location />
    <span>Madrid, Spain</span>
  </div>

  <div class="socials">
    {
      socials.map((social) => (
        <a
          href={social.href}
          target="_blank"
          rel="noopener noreferrer"
          class={social.className}
          aria-label={`Visit my ${social.name}`}
        >
          <social.icon />
          <span>{social.name}</span>
        </a>
      ))
    }
  </div>
</header>

<style>
  .section {
    flex-direction: column;
    margin: 10rem 0 3rem 0;
    display: flex;
    width: 100%;
  }

  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero span {
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--hero-bg-color);
    font-size: 15px;
    padding: 0.7rem 4rem;
    width: 100%;
  }

  .craft {
    margin-top: 1.2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .craft h1 {
    font-size: 2.3rem;
  }

  .craft picture,
  .craft img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .location {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 10px;
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .socials svg {
    width: 20px;
    height: 20px;
  }

  .email,
  .linkedin,
  .twitter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 2px solid var(--hero-bg-color);
    padding: 0.3rem 0.4rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
  }

  .email:hover {
    background-color: var(--email-link-color);
    color: #fff;
    transform: translateY(-2px);
    border-color: var(--email-link-color);
  }

  .linkedin:hover {
    background-color: var(--linkedin-link-color);
    color: #fff;
    transform: translateY(-2px);
    border-color: var(--linkedin-link-color);
  }

  .twitter:hover {
    background-color: var(--twitter-link-color);
    color: #fff;
    transform: translateY(-2px);
    border-color: var(--twitter-link-color);
  }

  @media (max-width: 768px) {
    .section {
      margin: 6rem 0 2rem 0;
    }
    .craft {
      flex-direction: column-reverse;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    .craft h1 {
      font-size: 1.8rem;
      text-align: center;
    }

    .hero span {
      padding: 0.7rem 2rem;
    }

    .socials,
    .location {
      margin: auto;
    }

    .location {
      margin-bottom: 0.5rem;
    }

    .email,
    .linkedin,
    .twitter {
      padding: 0.5rem 1rem;
    }
  }
</style>
