---

---


<section class="section">

  <div class="hero">
    <span>Hello, I'm an web app developer based in Madrid!</span>
  </div>

  <div class="craft">
    <div>
      <h1>Juan Alberto</h1>
      <p>Digital Craftsman ( Artist / Developer / C-Creator )</p>
    </div>

    <img src="/public/pic.webp" alt="Juan Alberto Picture" />
  </div>

</section>

<style>

  .section {
    flex-direction: column;
    margin: 10rem auto 3rem auto;
  }

  .section, .hero {
    width: 100%;
    display: flex;
  }

  .hero {
    justify-content: center;
    align-items: center;
  }

  .hero span {
    width: 100%;
    text-align: center;
    border-radius: .5rem;
    background-color: rgba(49,49,52,1);
    padding: 0.90rem;
  }

  .craft {
    align-items: center;
    margin-top: 1.2rem;
    justify-content: space-between;
    display: flex;
  }

  .craft h1 {
    font-size: 2.3rem;
  }

  .craft p, .craft h1 {
    margin: 0;
  }

  .craft img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #fff;
    object-fit: cover;
  }

</style>
