---
import Chevron from "/public/chevron.svg";
import GitHub from "../components/GitHub.astro";
import LinkedIn from "../components/LinkedIn.astro";
import X from "../components/X.astro";
import YouTube from "../components/YouTube.astro";
---

<section class="work">
  <h2 class="sub-head">Work</h2>
  <p class="description">
    I'm a Madrid-based application developer with a focus on building meaningful, user-centered digital experiences.
    My approach blends strong technical execution with thoughtful design, taking ideas from concept to fully deployed products.
    I'm currently advancing my skills at <a target="_blank" rel="noopener noreferrer" class="link-to" href="https://www.42madrid.com/">42 Madrid</a>, a rigorous, <i>peer-to-peer</i> programming school that emphasizes real-world problem solving.
    I also share my learning journey and project insights on my YouTube channel,
    "<a class="link-to" href="https://youtube.com/@lifeasadev">Life as Dev</a>".
  </p>
  <a class="portfolio-button" href="/work">
    My portfolio <Chevron />
  </a>
</section>

<section class="bio">
  <h2 class="sub-head">Bio</h2>
  <p class="desc"><span>2001</span> Born in Barahona, Dominican Republic.</p>
  <p>
    <span>2023</span> Earned the
    <a target="_blank" rel="noopener noreferrer" class="link-to" href="https://verified.elearnsecurity.com/certificates/6b4943a0-26a2-4ce7-8063-aff8e6bda825">eJPT (eLearnSecurity Junior Penetration Tester)</a>.
  </p>
  <p class="desc">
    <span>2025</span>
    Currently studying at <a target="_blank" rel="noopener noreferrer" class="link-to" href="https://www.42madrid.com/">42 Madrid</a>,
    a cutting-edge programming school with a peer-to-peer, project-based learning model — no teachers, no classes, just real-world coding challenges.
    Promoted by <a target="_blank" rel="noopener noreferrer" class="link-to" href="https://www.fundaciontelefonica.com/">Fundación Telefónica España</a> and focuses on autonomy, collaboration, and problem-solving.
  </p>
</section>

<section class="i-love">
  <h2 class="sub-head">I ♥</h2>
  <p>Art, music, and photography. Traveling, coffee, and nature. Technology, startups, open source, and continuous learning.</p>
</section>

<section class="on-the-web">
    <h2 class="sub-head">On the web</h2>
    <p>
        You can find me on
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/302foundevx"><GitHub /> @302foundevx</a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/302foundev/"><LinkedIn /> @302foundev</a>
        <a target="_blank" rel="noopener noreferrer" href="https://x.com/302foundev"><X /> @302foundev</a>
        <a target="_blank" rel="noopener noreferrer" href="https://youtube.com/@lifeasadev"><YouTube /> @life as dev</a
</section>

<style>
    section {
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    .sub-head {
        margin: 0;
        font-size: 1.2rem;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: #525252;
        text-decoration-thickness: 4px;
        line-height: 1.33;
    }

    .description {
        text-indent: 1.5rem;
        font-weight: 300;
        margin-bottom: 0.5rem;
    }

    .link-to {
        color: #ff63c3;
        text-decoration: none;
    }

    .link-to:hover {
        text-decoration: underline;
    }

    .portfolio-button {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        background-color: #81e6d9;
        color: black;
        text-decoration: none;
        padding: 0.6rem 1rem;
        width: fit-content;
        min-width: 150px;
        justify-content: center;
        border-radius: 0.5rem;
        margin: auto;
        transition: background-color 0.3s;
        font-weight: 500;
    }

    .portfolio-button:hover {
        background-color: #4fd1c5;
    }

    .portfolio-button:hover svg {
        transform: translateX(3px);
        transition: transform 0.2s ease-in-out;
    }

    .portfolio-button svg {
        width: 16px;
        height: 16px;
    }

    span {
        font-weight: 600;
        margin-right: 0.6rem;
        text-indent: 1.2rem;
    }

    .desc {
        padding-left: 3.4em;
        text-indent: -3.4em;
    }

    p, .description {
        margin: 0;
        line-height: 1.6;
    }

    .i-love p, .on-the-web p {
        padding-left: 2.4rem;
    }

    .on-the-web p  {
        display: flex;
        flex-direction: column;
    }

    .on-the-web a {
        border-radius: 7px;
        width: fit-content;
        padding: 0.4rem 1.5rem;
        margin: 0.3rem 0;
        color: #81E6D9;
        list-style: none;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 0.3rem;
    }

    .on-the-web a:hover {
        background-color: rgba(129, 230, 217, 0.3);
        transition: background-color 0.3s, color 0.3s;
    }

    .on-the-web a svg {
        fill: #81E6D9;
    }
</style>
