---
import Chevron from "/public/chevron.svg";
---

<div>
    <div class="work">
        <h3 class="sub-head">Work</h3>
        <p class="description">
            Takuya is a freelance and a full-stack developer based in Madrid with a passion
             for building digital services/stuff he wants. He has a knack for all things l
             aunching products, from planning and designing all the way to solving real-life 
             problems with code. When not online, he loves hanging out with his camera. 
             Currently, he is living off of his own product called <a class="link-to" href="/#42-madrid-profile">302Found</a>. 
             He publishes content for marketing his products and his YouTube channel 
             called "<a class="link-to" href="https://youtube.com">Life as Dev</a>" has more than 100k subscribers.
        </p>
        <a class="portfolio-button" href="/work">My portfolio<Chevron /></a>
    </div>

    <div class="bio">
        <h3 class="sub-head">Bio</h3>
        <p>
            <span>2001</span>
            Born in Barahona, Dominican Republic.
        </p>
        <p>
            <span>2023</span>
            I passed my first ethical hacking certification and earned the <a class="link-to" href="https://verified.elearnsecurity.com/certificates/6b4943a0-26a2-4ce7-8063-aff8e6bda825">eJPT (eLearnSecurity Junior Penetration Tester)</a>.
        </p>
        <p>
            <span>2025 in present</span>
            Started at <a class="link-to" href="/https://www.42madrid.com/">42 Madrid</a>, a coding school promoted by <a class="link-to" href="https://www.fundaciontelefonica.com/">Fundación Telefónica España</a> with no teachers.
        </p>
    </div>

    <div class="i-love">
        <h3 class="sub-head">I ♥</h3>
        <p>Art, Music, Photography, Traveling, Coffee, Animals, Nature, Technology, Startups, Entrepreneurship, Coding, Open Source, Learning new things.</p>
    </div>
</div>

<style>
    .bio {
        text-indent: -3.3rem;
    }

    .bio, .i-love p {
        padding-left: 3.4rem;
    }

    .bio span {
        font-weight: 600;
        margin-right: .6rem;
    }

    .work, .bio, .i-love {
        margin-bottom: 2.5rem;
    }

    .bio, .i-love, .work {
        gap: .8rem;
    }

    .i-love, .bio, .work {
        display: flex;
        flex-direction: column;
    }
    
    .sub-head {
        margin: 0;
        font-size: 1.2rem;
        text-decoration: underline;
        text-underline-offset: 6px;
        text-decoration-color: #525252;
        text-decoration-thickness: 4px;
        line-height: 1.33;
    }

    .description {
        text-indent: 1.5rem;
        font-weight: 300;
        margin-bottom: .5rem;
        line-height: 1.6;
    }

    p {
        line-height: 1.6;
        margin: 0;
    }

    .link-to {
        color: #ff63c3;
        text-decoration: none;
    }

    .link-to:hover {
        text-decoration: underline;
    }

    .portfolio-button {
        display: flex;
        align-items: center;
        gap: .4rem;
        background-color: #81E6D9;
        color: black;
        text-decoration: none;
        width: 150px;
        height: 40px;
        justify-content: center;
        border-radius: .5rem;
        margin: auto;
        transition: background-color .3s;
        font-weight: 500;
    }

    .portfolio-button:hover {
        background-color: #4FD1C5;
    }

    .portfolio-button svg {
        width: 16px;
        height: 16px;
    }
</style>
