---
// Supports weights 100-900
import '@fontsource-variable/onest';

interface props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
  <script>
    (function () {
      try {
        const html = document.documentElement;
        const savedTheme = localStorage.getItem('theme') ||
          (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
        html.classList.toggle('dark', savedTheme === 'dark');
      } catch (_) {}
    })();
  </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css">
    <title>{title}</title>
  </head>
  <body>

    <slot />

    <script type="module">
    toggleButton?.addEventListener('click', () => {
      const isDark = html.classList.contains('dark');
      const newTheme = isDark ? 'light' : 'dark';

      html.classList.toggle('dark');
      localStorage.setItem('theme', newTheme);

      sunIcon?.classList.toggle('active', !isDark);
      moonIcon?.classList.toggle('active', isDark);

      toggleButton.setAttribute('aria-pressed', (!isDark).toString());
    });
    </script>

  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
</style>
